<section class="top-nav">
    <img src="/images/favicon.ico" alt="logo" id="logo">

    <a href="" id="gear-icon">⚙️</a>

    <input id="hamburger-menu" type="checkbox" />
    <label class='menu-button-container' for="hamburger-menu">
        <div class='menu-button'></div>
    </label>
    <ul class="menu">
        <li class="menuLi"><a href="../../index.html">Dashboard</a></li>
        <li class="menuLi"><a href="">Achievements</a></li>
        <li class="menuLi"><button type="button" id="show-login">Login</button></li>
    </ul>
</section>