<section class="top-nav">
    <img src="/images/favicon.ico" alt="logo" id="logo">

    <a href="../../settings/index.html" id="gear-icon">⚙️</a>

    <input id="hamburger-menu" type="checkbox" />
    <label class='menu-button-container' for="hamburger-menu">
        <div class='menu-button'></div>
    </label>
    <ul class="menu">
        <li class="menuLi"><a href="/index.html">Dashboard</a></li>
        <li class="menuLi"><a href="/achievements/index.html">Achievements</a></li>
        <li class="menuLi"><button type="button" id="show-login">Login</button></li>
        <li class="menuLi"><button type="button" id="show-sign-up">Sign Up</button></li>
        <li class="menuLi"><button type="button" id="logout-button">Logout</button></li>
    </ul>
</section>