<!-- Modal content -->
<div class="signup-content">
    <form id="signup-form">
        <label for="signup-email">Email:</label>
        <input type="email" id="signup-email" name="signup-email" required />

        <label for="signup-password">Password:</label>
        <input type="password" id="signup-password" name="signup-password" required />

        <label for="signup-name">Full Name</label>
        <input type="text" name="signup-name" id="signup-name">

        <button type="button" id="signup-submit">Sign Up</button>
    </form>
</div>