@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #FF7043;
  --secondary-color: #008080;
  --tertiary-color: #FEFCE0;
  --primary-dark-color: #a04a26;
  --tertiary-dark-color: #432121;
  --background-color-one: #A8CE8F;
  --background-color-two: #97D1CE;
  --background-dark: black;

  --heading-fonts: montserrat sans-serif;
  --body-fonts: lato static;
  line-height: 1.5;

  color: #003838;

  font-synthesis: none;
}

/*Dark mode styling*/
.dark-mode {
  background: var(--background-dark);
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(var(--background-color-one), var(--background-color-two));
  font-family: var(--body-fonts);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#habit-name {
  margin-left: 0;
  margin-bottom: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

.dark-mode button {
  color: white;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem;
  font-family: var(--heading-fonts);
}

input[type="checkbox"] {
  accent-color: var(--primary-color);
}

.dark-mode input[type="checkbox"] {
  accent-color: var(--primary-dark-color);
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: 2px solid var(--primary-color);
}

.dark-mode input[type="text"]:focus,
.dark-mode input[type="email"]:focus {
  outline: 2px solid var(--primary-dark-color);
}

#logo {
  width: auto;
  height: 200%;
}

main {
  padding-bottom: 10vh;
  width: 100%;
}

a {
  text-decoration: inherit;
  color: #003838;
}

.dark-mode a {
  color: white;
}

input {
  padding: .5rem;
}

main {
  max-width: 1400px;
}

#habits-div {
  width: 80vw;
  margin: auto;
  max-height: 80vh;
  overflow: scroll;
}

#add-habit-button {
  background-color: var(--primary-color);
  margin: 1rem;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.25rem;
  justify-self: right;
}

.dark-mode #add-habit-button {
  background-color: var(--primary-dark-color);
}

/*Header*/
#gear-icon {
  position: absolute;
  top: 0;
  right: 5rem;
  padding: .75rem;
}

.top-nav {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--tertiary-color);
  height: 50px;
  padding: 1em;
}

.dark-mode .top-nav {
  background: var(--tertiary-dark-color);
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menu>li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  background-color: var(--tertiary-color);
  border-radius: 0;
}

.dark-mode .menu>li {
  background-color: var(--tertiary-dark-color);
}

#show-login,
#show-sign-up,
#logout-button {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  background-color: var(--tertiary-color);
  border: none;
  text-decoration: none;
}

.dark-mode #show-login,
.dark-mode #show-sign-up,
.dark-mode #logout-button {
  background-color: var(--tertiary-dark-color);
}

#hamburger-menu~.menu li {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#hamburger-menu:checked~.menu li {
  opacity: 100;
  height: 2.5rem;
  padding: 0.5em;
  z-index: 1;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button-container {
  display: flex;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hamburger-menu {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--secondary-color);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#hamburger-menu:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#hamburger-menu:checked+.menu-button-container .menu-button {
  background: var(--tertiary-color);
}

.dark-mode #hamburger-menu:checked+.menu-button-container .menu-button {
  background: var(--tertiary-dark-color);
}

#hamburger-menu:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu>li:not(:last-child) {
  border-bottom: 1px solid var(--primary-color);
}

.dark-mode .menu>li:not(:last-child) {
  border-bottom: 1px solid var(--primary-dark-color);
}

/*end hamburger menu*/

/*Hero styling*/
#hero-div {
  width: 100vw;
  height: auto;
  position: relative;
}

#hero-image {
  width: 100%;
  height: auto;
}

#inspirational-quote {
  color: #003838;
  padding: 2rem;
  position: absolute;
  font-family: cursive;
}



/* Modal Styles */
#login-modal,
#signup-modal,
#add-habit-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.login-content,
.signup-content,
.add-habit-content {
  background-color: var(--tertiary-color);
  margin: 15% auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 50%;
  border: 3px solid var(--primary-color);
  border-radius: 1rem;
}

.dark-mode .login-content,
.dark-mode .signup-content,
.dark-mode .add-habit-content {
  background-color: var(--tertiary-dark-color);
  border: 3px solid var(--primary-dark-color);
}

#login-form,
#signup-form,
#add-habit-form {
  display: flex;
  flex-direction: column;
}

#login-submit,
#signup-submit,
#add-habit-submit {
  margin-top: 1rem;
}

/*End Modal Styles*/

/*Habit list styles*/
ul {
  display: contents;
  width: 100%;
}

li {
  list-style-type: none;
  background-color: var(--tertiary-color);
  border-radius: 1rem;
  margin: .2rem;
}

.dark-mode li {
  background-color: var(--tertiary-dark-color);
}

li div {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
}

#edit-button,
#delete-button {
  background-color: var(--tertiary-color);
}

.dark-mode #edit-button,
.dark-mode #delete-button {
  background-color: var(--tertiary-dark-color);
}

#edit-button img,
#delete-button img {
  width: 3vw;
  height: 3vh;
}

.progress-bar-inner-class {
  position: absolute;
  height: .85rem;
  background-color: var(--primary-color);
  display: block;
  border-radius: 1rem;
}

.dark-mode .progress-bar-inner-class {
  background-color: var(--primary-dark-color);
}

.progress-bar-outter-class {
  position: relative;
  width: 10rem;
  height: 1rem;
  background-color: white;
  display: block;
  border: 1px solid var(--secondary-color);
}

.progress-bar-outter-class,
.progress-bar-inner-class {
  border-radius: 1rem;
}

/*Habit Detail Styling*/
#title,
#habit-category-div,
#habit-description-div {
  display: flex;
  width: 94vw;
  margin: 0 auto;
  align-items: center;
}

#habit-description-div {
  background-color: var(--tertiary-color);
  border-radius: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: .5rem .5rem 1rem;
}

.dark-mode #habit-description-div {
  background-color: var(--tertiary-dark-color);
}

#habit-category-div {
  display: flex;
  justify-content: space-between;
}

#habit-category-text {
  text-transform: capitalize;
}

#streak-number {
  font-weight: bolder;
  font-size: x-large;
}

/*JS calendar custom styling*/
#calendar table {
  background-color: var(--tertiary-color);
  margin: 0 auto;
  margin-top: 2rem;
  width: fit-content;
  height: fit-content;
  box-shadow: .5rem .5rem 1rem;
  border-radius: 1rem;
}

.dark-mode #calendar table {
  background-color: var(--tertiary-dark-color);
}

#calendar thead {
  border-radius: 1rem 1rem 0 0;
}

#calendar tr {
  width: 100%;
  margin: 0 auto;
}



#calendar thead .jsCalendar-week-days th,
#calendar tbody td {
  width: 13vw;
}

#calendar tbody td.jsCalendar-selected {
  content: url("/images/checkmark.svg");
  background-color: var(--tertiary-color);
  border: none;
}

.dark-mode #calendar tbody td.jsCalendar-selected {
  background-color: var(--tertiary-dark-color);
}

/* Orange */
.jsCalendar.my-orange tbody td.jsCalendar-current {
  background-color: var(--primary-color);
}

.dark-mode .jsCalendar.my-orange tbody td.jsCalendar-current {
  background-color: var(--primary-dark-color);
}

.jsCalendar.my-orange ::-moz-selection {
  background: var(--primary-color);
}

.dark-mode .jsCalendar.my-orange ::-moz-selection {
  background: var(--primary-dark-color);
}

.jsCalendar.my-orange ::selection {
  background: var(--primary-color);
}

.dark-mode .jsCalendar.my-orange ::selection {
  background: var(--primary-dark-color);
}

.jsCalendar.material-theme.my-orange thead {
  background-color: var(--primary-color);
}

.dark-mode .jsCalendar.material-theme.my-orange thead {
  background-color: var(--primary-dark-color);
}

.jsCalendar.material-theme.my-orange thead .jsCalendar-nav-left:hover,
.jsCalendar.material-theme.my-orange thead .jsCalendar-nav-right:hover {
  background-color: var(--primary-color);
}

.dark-mode .jsCalendar.material-theme.my-orange thead .jsCalendar-nav-left:hover,
.dark-mode .jsCalendar.material-theme.my-orange thead .jsCalendar-nav-right:hover {
  background-color: var(--primary-dark-color);
}

#calendar tbody td:hover {
  background-color: var(--secondary-color);
  color: white;
}

.dark-mode #calendar tbody td {
  color: white;
}

.dark-mode #calendar tbody .jsCalendar-previous,
.dark-mode #calendar tbody .jsCalendar-next,
.dark-mode #calendar tbody .jsCalendar-unselectable {
  color: #8d5e5e;
}

/*Settings Styling*/
#user-settings,
#profile-settings {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  background-color: var(--tertiary-color);
  border-radius: 1rem;
  box-shadow: .5rem .5rem 1rem;
}

.dark-mode #user-settings,
.dark-mode #profile-settings {
  background-color: var(--tertiary-dark-color);
}

#user-settings input,
#profile-settings input,
#profile-settings label {
  margin-left: 1rem;
  margin-right: 1rem;
}

#profile-settings input,
#user-submit {
  max-width: 450px;
  margin-bottom: 1rem;
}

#user-settings div {
  margin-bottom: 1rem;
  padding-top: 1rem;
}

#user-submit {
  margin: 1rem;
  background-color: var(--primary-color);
}

.dark-mode #user-submit {
  margin: 1rem;
  background-color: var(--primary-dark-color);
}

/*Achievements page styling*/
#badges {
  margin: 2rem;
}

#achievements-list li div {
  grid-template-columns: 1fr 1fr 1fr;
}

#achievements-list img {
  height: 15vh;
  width: auto;
}

#badges li {
  background-color: var(--primary-color);
}

.dark-mode #badges li {
  background-color: var(--primary-dark-color);
}

#achievements-list .incomplete {
  background-color: var(--tertiary-color);
}

.dark-mode #achievements-list .incomplete {
  background-color: var(--tertiary-dark-color);
}

.incomplete img {
  filter: grayscale(100%);
}

/*Credits styling*/
ol li {
  padding: 1rem;
  margin-right: 3rem;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--tertiary-color);
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 6vh;
}

.dark-mode footer {
  background: var(--tertiary-dark-color);
}