@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #FF7043;
  --secondary-color: #008080;
  --tertiary-color: #FEFCE0;
  --background-color-one: #A8CE8F;
  --background-color-two: #97D1CE;

  --heading-fonts: montserrat sans-serif;
  --body-fonts: lato static;
  font-family: var(--body-fonts);
  line-height: 1.5;

  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: var(--heading-fonts);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem;
}

input[type="checkbox"] {
  accent-color: var(--primary-color);
}

#logo {
  width: auto;
  height: 200%;
}

main {
  padding-bottom: 10vh;
  width: 100%;
}

a {
  color: var(--secondary-color);
  text-decoration: inherit;
}

input {
  padding: .5rem;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(var(--background-color-one), var(--background-color-two));
}

main {
  max-width: 1400px;
}

#habits-div {
  width: 80vw;
  margin: auto;
  max-height: 80vh;
  overflow: scroll;
}

#add-habit-button {
  background-color: var(--primary-color);
  margin: 1rem;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.25rem;
  padding: none;
  justify-self: right;
}

/*Header*/
#gear-icon {
  position: absolute;
  top: 0;
  right: 5rem;
  padding: .75rem;
}

.top-nav {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--tertiary-color);
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menu>li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  border-radius: 0;
}

#show-login {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  border: none;
  text-decoration: none;
}

#hamburger-menu~.menu li {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#hamburger-menu:checked~.menu li {
  opacity: 100;
  height: 2.5rem;
  padding: 0.5em;
  z-index: 1;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button-container {
  display: flex;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hamburger-menu {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--secondary-color);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#hamburger-menu:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#hamburger-menu:checked+.menu-button-container .menu-button {
  background: var(--tertiary-color);
}

#hamburger-menu:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu>li:not(:last-child) {
  border-bottom: 1px solid var(--primary-color);
}

/*end hamburger menu*/

/*Hero styling*/
#hero-div {
  width: 100vw;
  height: auto;
  position: relative;
}

#hero-image {
  width: 100%;
  height: auto;
}

#inspirational-quote {
  padding: 2rem;
  position: absolute;
  color: var(--secondary-color);
  font-family: cursive;
}



/* Modal Styles */
#login-modal,
#add-habit-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--secondary-color);
}

.login-content,
.add-habit-content {
  background-color: var(--tertiary-color);
  margin: 15% auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 50%;
  border: 3px solid var(--primary-color);
  border-radius: 1rem;
}

#login-form,
#add-habit-form {
  display: flex;
  flex-direction: column;
}

#login-submit,
#add-habit-submit {
  margin-top: 1rem;
}

/*End Modal Styles*/

/*Habit list styles*/
ul {
  display: contents;
  width: 100%;
}

li {
  list-style-type: none;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 1rem;
  margin: .2rem;
}

li div {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
}

#edit-button,
#delete-button {
  background-color: var(--tertiary-color);
}

#edit-button img,
#delete-button img {
  width: 3vw;
  height: 3vh;
}

.progress-bar-inner-class {
  width: 50%;
  height: .85rem;
  background-color: var(--primary-color);
  display: block;
}

.progress-bar-outter-class {
  width: 10rem;
  height: 1rem;
  background-color: white;
  display: block;
  justify-content: left;
  align-content: center;
  border: 1px solid var(--secondary-color);
}

.progress-bar-outter-class,
.progress-bar-inner-class {
  border-radius: 1rem;
}

/*Habit Detail Styling*/
#title,
#habit-category-div,
#habit-description-div {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  width: 90vw;
  margin: 0 auto;
  align-items: center;
}

#title>*:nth-child(0),
#habit-category-div>*:nth-child(0),
#habit-description-div>*:nth-child(0) {
  justify-content: left;
}

#title>*:nth-child(2),
#habit-category-div>*:nth-child(2),
#habit-description-div>*:nth-child(2) {
  justify-content: right;
}

#habit-category-text {
  text-transform: capitalize;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--tertiary-color);
  position: fixed;
  color: var(--secondary-color);
  width: 100%;
  bottom: 0;
  height: 6vh;
}


/*JS calendar custom styling*/
#calendar table {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  margin: 0 auto;
  margin-top: 3rem;
  width: fit-content;
  height: fit-content;
  border-radius: 1rem;
  box-shadow: .5rem .5rem 1rem;
}

#calendar thead {
  border-radius: 1rem 1rem 0 0;
}

#calendar tr {
  width: 100%;
  margin: 0 auto;
}

#calendar thead .jsCalendar-week-days th,
#calendar tbody td {
  width: 10vw;
}

/* Orange */
.jsCalendar.my-orange tbody td.jsCalendar-current {
  background-color: var(--primary-color);
}

.jsCalendar.my-orange ::-moz-selection {
  background: var(--primary-color);
}

.jsCalendar.my-orange ::selection {
  background: var(--primary-color);
}

.jsCalendar.material-theme.my-orange thead {
  background-color: var(--primary-color);
}

.jsCalendar.material-theme.my-orange thead .jsCalendar-nav-left:hover,
.jsCalendar.material-theme.my-orange thead .jsCalendar-nav-right:hover {
  background-color: var(--primary-color);
}

#calendar tbody td:hover {
  background-color: var(--secondary-color);
  color: white;
}